body{
    margin: 0px;
    padding: 0px;
}
#gauche {
    background-image: url(img/pp.jpg) ;
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.349);
    position: absolute;
    z-index: 2;
}
h2{
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 30px;
    font-family: monospace;
}
img{
    width: 100px;
    height: 100px;
}
#logo-gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blure(30px);
}
#droite{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 70%;
    background: linear-gradient(60deg,#272727,#222222);
     
}
#p1{
    color: aliceblue;
    font-size: 30px;
    margin-left: 15px;
    text-indent: 30px;

}
#form{
    display :grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    grid-auto-rows: minmax(60px,70px);
    width: 75%;
    margin-left: 15px;
}
#submit{
 height: 35px;
 width: 50%;
 background: linear-gradient(-50deg,rgb(0, 238, 255),rgb(22, 154, 172));
 border-radius : 25px ;
 border: none;
}
.label{
    display:flex;
    flex-direction: column;
}
label{
    margin-bottom: 6px;
    color: beige;
    font-size: 18px;
}
input{
    width: 75%;
}
input:focus{
border: 3px solid rgba(111, 191, 238, 0.877);
outline-style: solid;
outline-width: 1px;
outline-color: invert;
}
#submit:focus{
    background-color: rgb(241, 166, 68);
    outline: none;
}
#p2{
    position: relative;
    color: aliceblue;
    font-size: 50px;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-self: center;
    margin-left: 15px ;
}
#cntf{
    background-color: rgba(46, 46, 46, 0.959);
    box-shadow: 3px 5px rgb(26, 25, 25);
}